<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flurry_enabled</key>
	<true/>
	<key>flurry_keys</key>
	<dict>
		<key>gd</key>
		<string>4RGRH573MCY85Z5RJC2X</string>
	</dict>
	<key>lastfm_enabled</key>
	<true/>
	<key>lastfm_key</key>
	<string>fdb33798836426ae4c2a6a2ff6d39510</string>
	<key>lastfm_secret</key>
	<string>ae4a4689916c6b378458009149c1550f</string>
	<key>crashlytics_enabled</key>
	<true/>
	<key>crashlytics_key</key>
	<string>bbdd6a4df81e6b1498130a0f1fbf72d14e334fb4</string>
</dict>
</plist>
