<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://ci.alecgorge.com/job/iguana-ios/lastSuccessfulBuild/artifact/ipa/Listen%20to%20the%20Dead.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.alecgorge.ios.Listen-to-the-Dead-Beta</string>
				<key>bundle-version</key>
				<string>2.1.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Grateful β</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
